@page "{restaurantId:int?}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Add/Edit";
}

<h1>@Model.Restaurant.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id">

    <div class="mb-3">
        <label asp-for="Restaurant.Name" class="form-label"></label>
        <input asp-for="Restaurant.Name" class="form-control">
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Restaurant.Location" class="form-label"></label>
        <input asp-for="Restaurant.Location" class="form-control">
        <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Restaurant.Cuisine" class="form-label"></label>
        <select asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines" class="form-control"></select>
        <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>

    <p><a asp-page="./List">All Restaurants</a></p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}