@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" asp-for="SearchTerm" class="form-control">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<div class="row">
    @foreach (var restaurant in Model.Restaurants)
    {
        <div class="col-sm-4">
            <partial name="_Summary" model="restaurant" />
        </div>
    }
</div>

<p><a asp-page="./Edit" class="btn btn-primary">Add New</a></p>

@section message {
    <div>@Model.Message</div>
}
